.person-card {
  transition: filter 0.2s ease;
}

.person-card:hover {
  filter: brightness(1.2);
  cursor: pointer;
}

.person-card img {
  padding: 10px;
  height: 100%;
}

.person-card .icon-container:hover {
  background-color: rgba(255, 255, 255, 0.192);
  border-radius: 3px;
  cursor: pointer;
}